/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
body{
    font-family: sans-serif;
background: url(prop118/bs.avif)no-repeat center/cover;
backdrop-filter: blur(5px);
}


.aboutus{
    text-align: center;
    font-size: 26px;
    padding: 20px;
}
footer{
    width: 100%;
    height: auto;
    background: rgb(214, 214,214);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 footer h2{
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 600;
 }
 footer p{
    text-align: center;
    width: 400px;
    font-size: 13px;
 }
 footer .input{
    box-shadow: 0px 3px 20px -1px gray;
    border-radius: 20px;
 }
 footer .input input{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
 }
 footer .input button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }
 footer .input button:hover{
    background: gray;
 }
 footer ul{
    list-style: none;
    display: flex;
   /* align-items: center;*/
    margin-top: 30px;
 }
 footer ul li{
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
 }
 footer ul li h6{
    font-size: 11px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #000;
    padding-top: 3px;
 }
 footer h4 .fa-instagram{
    color: #000;
    font-size: 26px;
 } 
 footer h4 .fa-twitter{
    color: #000;
    font-size: 26px;
 } 
 footer h4 .fa-facebook{
    color: #000;
    font-size: 26px;
 } 