/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
body {
    font-family:"Poppins", sans-serif; 
    background: url(prop118/back.jpg)no-repeat center/cover;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align:center;
    color: #333;
  }
  
  input {
    display: block;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    /*border: none;*/
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }